body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
}
.top-banner{
    display: flex;

    
}

h1{
    font-size: 55px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    
}
}
.diet-net{
    margin-top: %;
    padding: 5%;
    font-weight: 900;
}
.half-width img{
    width: 100%;
}
.personal img{
   height: 460px;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    font-weight: 600;
    font-size:13px;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
}
.middle-banner{
    display: flex;
}
.about-me{
    display: flex;
    padding-left: 12%;
}
.about-me{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.about-me img{
    width: 70%
}
.about{
    margin-top: 10%;
}
.card{
    display: flex;
    margin: auto;
    padding: 50px;
    

}
.card img{
    width: 280px;
   
    padding: 20px;
    border-radius: 15%;
    
}
.card div{
    width: 28%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 35px;
    border-radius: 20px;
}
.my-recipies{
    margin: auto;
    width: 500px;
}
.recipies{
   text-align: center;
  
}
.card-style h2 , p{
    padding: 7px 16px;
}
footer{
    text-align: center;
     background-color: black;
     margin-bottom: -15px;
     color: white;
     height: 150px;

    
}
footer h2 {
    padding: 20px;

}
.gray-color{
    color: gray;
}
